.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  justify-content: space-around;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-black);
  transition: all 0.5s ease;
  font-weight: 500;
}

a:hover {
  color: var(--color-primary);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.btn {
  border-radius: 2px;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: var(--btn-hover-shadow, 0 0 6px rgba(0, 0, 0, 0.11));
}

.btn-primary {
  color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn-primary:hover {
  border: 1px solid var(--color-primary);
  background: var(--color-white);
  color: var(--color-primary);
}

.btn-secondary {
  color: var(--color-primary);
  background: #fff;
  border: 1px solid var(--color-primary);
}

.btn-secondary:hover {
  color: #fff;
  background: var(--color-primary);
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: var(--border-radius-base);
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
  text-align: left;
  font-size:1.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

@media (max-width: 768px) { 
  .btn {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
  }
}

.container {
    width: 100%;
    height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
