.circular-text {
  margin: 0px auto;
  border-radius: 50%;
  width: 160px;
  position: relative;
  height: 160px;
  font-weight: bold;
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  font-size: 1rem;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
